/*Font definitions*/
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/GothamBold.eot');
    src: url('../fonts/gotham/GothamBold.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/GothamBold.woff2') format('woff2'), url('../fonts/gotham/GothamBold.woff') format('woff'), url('../fonts/gotham/GothamBold.ttf') format('truetype'), url('../fonts/gotham/GothamBold.svg#GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
}